<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <div id="userData">
        <% if (Array.isArray(data) && data.length> 0) { %>
            <ul>
                <% data.forEach(function(user) { %>
                    <li>
                        <%= user.firstname %> <!-- Thay thế `user.username` bằng các thuộc tính cụ thể của User -->
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No data available</p>
                <% } %>
    </div>
</body>

</html>